<div class="callout callout--primary">
  <div class="grid grid--1X2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum totam
        perferendis hic et impedit reiciendis, provident officiis nulla omnis
        quidem dolor suscipit obcaecati facere eius voluptates debitis iure
        numquam sint?
      </p>
    </div>
    <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
  </div>
</div>
